# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/
